body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    align-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#wallet-address {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}

#copy {
    color: aquamarine;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    transition: all 0.2s ease-in;
}