body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#wallet-address {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}
.copy {
    color: aquamarine;
    font-size: 14px;
    font-weight: 300;
}